def result(math , lung):
	balance = 25 
	if math ==10 and lung ==10:
		print "V.Good"
		balance += 30 + 10 #dad raward
		return balance
	elif math > 7 and lung > 8:
		print "Good"
		balance +=10
		return balance

	elif math > 5 and lung >7:
		print "nice"
		balance+=5
		return balance
	
	elif math < 5 and lung > 5:
		print " not good "
		balance -=10
		return balance
	elif math > 5 and lung < 5:
		print " not good "
		balance -=10
		return balance
	elif math < 5 and lung < 5 :
		print "v.Bad"
		balance -=30
		return balance

print result(10 , 10)
print result(8 , 9)
print result(6 , 8)
print result(4 , 8)
print result(8 , 4)
print result(0 , 0)
	
